In [6]:
import pandas as pd
from pathlib import Path
from os import path

In [4]:
project = Path(".").resolve()
data_dir = project / "data"
close_college_path = data_dir / "close_college.dta"

In [7]:
assert path.exists(close_college_path)

In [8]:
close_college = pd.read_stata(close_college_path)

In [10]:
close_college.head()

   nearc4  educ  black  smsa  south  married  exper     lwage
0       0     7      1     1      0      1.0     16  6.306275
1       0    12      0     1      0      1.0      9  6.175867
2       0    12      0     1      0      1.0     16  6.580639
3       1    11      0     1      0      1.0     10  5.521461
4       1    12      0     1      0      1.0     16  6.591674

In [ ]:
close_college